.panel{
	height: 90%;
	margin: 0px; padding: 0px
}


.chatbox{
	height: 90%;
	margin: 0px; padding: 0px
	
}
.row,.col-md{
	height: 100%;
}

.chat{
	height: 80%;
	width: 100%;
	overflow-y:scroll;
}


.chatbody{
	height: 100%;
	width: 100%
}

input[name="message"]{
	margin-top: -3px;
	height: 40px;
	width: 80%;
	float:left;
}
.btn.send{
	width: 18%;
	font-size: 20px;
}
.send{
	float: right;
	margin-top: -4px;
}

.chatform{
	height: 12%;
	width: 100%;
}

.addbut{
	float: right;
	margin-top: -27px;
	width: 110px;
}



a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

html,body { height: 100%; margin: 0px; padding: 0px; }